
<%- include('partials/header'); -%>
<h1>Home</h1>
<p><%= hsc%></p>

<%console.log(allP);%>
<%for (var i = 0 ; i  < allP.length ; i++){%>
    <%console.log (allP[i].title);%>
    <%}%>
<%- include('partials/footer'); -%>
